<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>ua.shield.servlets.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/s</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestServletDB</servlet-name>
        <servlet-class>ua.shield.servlets.TestServletDB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServletDB</servlet-name>
        <url-pattern>/db</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CompanyView</servlet-name>
        <servlet-class>ua.shield.servlets.company.CompanyViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompanyView</servlet-name>
        <url-pattern>/company/view</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CompanyAdd</servlet-name>
        <servlet-class>ua.shield.servlets.company.CompanyAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompanyAdd</servlet-name>
        <url-pattern>/company/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CompanyEdit</servlet-name>
        <servlet-class>ua.shield.servlets.company.CompanyEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompanyEdit</servlet-name>
        <url-pattern>/company/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CompanyDelete</servlet-name>
        <servlet-class>ua.shield.servlets.company.CompanyDelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompanyDelete</servlet-name>
        <url-pattern>/company/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InvoiceView</servlet-name>
        <servlet-class>ua.shield.servlets.invoice.InvoiceViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InvoiceView</servlet-name>
        <url-pattern>/invoice/view</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UnitView</servlet-name>
        <servlet-class>ua.shield.servlets.unit.UnitViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UnitView</servlet-name>
        <url-pattern>/unit/view</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PersonView</servlet-name>
        <servlet-class>ua.shield.servlets.person.PersonViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonView</servlet-name>
        <url-pattern>/person/view</url-pattern>
    </servlet-mapping>
</web-app>