#dictionary {
    display: none;
    position: absolute;
    left: 800px;
    top: 100px;
    width: 400px;
    height: 400px;
    background-color: aquamarine;
}

#dictionaryTitle {
    background-color: darkgray;
    height: 30px;
}

.closeDiv {
    position: absolute;
    right: 5px;

}